* {
  box-sizing: border-box;
}

body {
  font-family: Courier New;
  margin: 0;
  background: white /*#545454; commenting out the dark gray for the time being*/
}

/* Style the header */
.header {
  /*padding: 10%;*/
  text-align: center;
  background: black;
  /*color: white;*/
}

img {
max-width: 100vw;
height: auto;
}


/* Increase the font size of the h1 element */
.subtitle {
  /*height: 10vh;*/
  color:white;
  background: #545454;
  text-align: center;
  text-size: 15vh;
}

/* Style the top navigation bar */
.navbar {
  overflow: hidden;
  background-color: #545454;
  height: 10vh;
}

/* Style the navigation bar links */
.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
  text-size: 20vh,
  width: 30vw;
}

/* Right-aligned link */
.navbar a.right {
  float: right;
}

/* Change color on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}


/* Main column */
.main {   
  background-color: #545454;
  color:white;
  padding: 10%;
  height: 30vh;
  text-align: center;
  text-size: 10vh
}


/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* Create two equal columns that sits next to each other */
/* left column */
.left {
  flex: 40%;
  background-color: #f1f1f1;
  padding: 10%;
}

/* right column */
.right {   
  flex: 60%;
  background-color: white;
  padding: 10%;
}

/* Fake image, just for this example */
.circular_image {
  background-color: black;
  height: 30vh;
  clip-path: circle();
  align: center;
  /*padding: 10%;*/
} 

/* Footer */
.footer {
  height: 10vm;
  text-align: center;
  background: #545454
}



/*design for mobile first*/
/*fix nav bar, pictures, fill screen, sizes on desktop  lanscape changes - columns for bio pics??*/

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .row {   
    flex-direction: column;
  }
}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
  .navbar a {
    float: none;
    width:100%;
  }

/* potential breakpoints */
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ }
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ }
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ }
@media (min-width:1281px) { /* hi-res laptops and desktops */ } 







  
}
